.copy{
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: rgba(255, 255, 255, 0.658);
    /* height: 240px; */
    min-height: 240px;
    max-height: auto;
    background-color: #363535;
    padding-bottom: 15px;
    margin-top: 70px;
}
.divParrafo{
    /* border: solid 1px brown; */
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
